box-shadow: 0 0 100px 0 rgba(128, 128, 128, 0.5);
  width: 75%;
  max-width: 1000px;
  min-width: 600px;
  padding: 24px;
  row-gap: 20px;
}
@@ -44,3 +43,17 @@ img {
  object-fit: contain;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    width: 95%;
  }

  .grid-container > p {
    grid-column-end: span 2;
  }

  .weather-logo {
    grid-row-start: 1;
  }
}
